@model ArticleDetailsViewModel

@{
    ViewBag.Title = "Article";
}

<div class="row pt-3">
    <div class="alert alert-secondary mb-3">
        <i class="float-end">@Model.CreatedOn.ToString("dd/MM/yy HH:mm")</i>
        <div class="text-lg fw-bold text-center">@Model.Title</div>
        <br/>
        <div class="fst-italic">@Model.Summary</div>
        <br/>
        <div>@Markdown.ParseHtmlString(Model.Text)</div>
        <div class="fw-bold fst-italic">Author: @Model.AuthorName</div>
    </div>
</div>