@model JobDetailsViewModel


<div class="row">
    <div class="alert alert-secondary mb-3">
        <div class="text-lg fw-bold text-center">@Model.Title</div>
        <div class="fw-bold fst-italic">Description</div>
        <div>@Model.Description</div>
        <div class="fw-bold fst-italic">Requirements</div>
        <div>@Model.Requirements</div>
        <div class="fw-bold fst-italic">Salary</div>
        <div>
            <i class="bi bi-cash-stack"></i>
            @Model.Salary
        </div>
        <div class="fw-bold fst-italic">Employer info</div>
        <div>
            <i class="bi bi-person"></i>
            @Model.EmployerInfo.Name
        </div>
        <div>
            <i class="bi bi-envelope-at"></i>
            @Model.EmployerInfo.Email
        </div>
        <div>
            <i class="bi bi-telephone"></i>
            @Model.EmployerInfo.PhoneNumber
        </div>
        <div>
            <i class="bi bi-buildings"></i>
            @Model.EmployerInfo.CompanyName
        </div>
        <div>
            <i class="bi bi-geo-alt"></i>
            @Model.EmployerInfo.CompanyAddress
        </div>
        <form asp-action="ApplyForJob" asp-controller="User" asp-route-jobId="@Model.Id">
            <button class="btn btn-primary mt-1" name="button">Apply</button>
        </form>
    </div>
</div>