@using JobPortal.Sevices.Data.Interfaces
@using JobPortal.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model JobDetailsViewModel
@inject IEmployerService EmployerService
@inject IUserService UserService
@{
    var isAuthorOfTheJob = await EmployerService.IsAuthorOfJobByUserIdAsync(this.User.GetId()!, @Model.Id);
    var hasApplied = await UserService.HasAppliedForThatJobAsync(this.User.GetId()!, @Model.Id);
}

@{
    ViewBag.Title = "Details";
}

<div class="row pt-3">
    <div class="alert alert-secondary mb-3">
        <div class="text-lg fw-bold text-center">@Model.Title</div>
        <div class="fw-bold fst-italic">Description</div>
        <div>@Model.Description</div>
        <div class="fw-bold fst-italic">Requirements</div>
        <div>@Model.Requirements</div>
        <div class="fw-bold fst-italic">Salary per month</div>
        <div>
            <i class="bi bi-cash-stack"></i>
            @Model.Salary
        </div>
        <div class="fw-bold fst-italic">Employer info</div>
        <div>
            <i class="bi bi-person"></i>
            @Model.EmployerInfo.Name
        </div>
        <div>
            <i class="bi bi-envelope-at"></i>
            @Model.EmployerInfo.Email
        </div>
        <div>
            <i class="bi bi-telephone"></i>
            @Model.EmployerInfo.PhoneNumber
        </div>
        <div>
            <i class="bi bi-buildings"></i>
            @Model.EmployerInfo.CompanyName
        </div>
        <div>
            <i class="bi bi-geo-alt"></i>
            @Model.EmployerInfo.CompanyAddress
        </div>
        <div class="d-flex gap-2 justify-content-between">
            <div>
            @if (isAuthorOfTheJob || User.IsAdmin())
            {
                <a class="w-auto btn btn-warning mt-1" asp-area="" asp-controller="Job" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <form class="d-inline-block w-auto" asp-area="" asp-controller="Job" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" value="Delete" class="btn btn-danger mt-1"
                           onclick="return confirm('Are you sure you want to delete job: @Model.Title')"/>
                </form>
            }
            @if (!isAuthorOfTheJob && !hasApplied && !User.IsAdmin())
            {
                <form asp-action="ApplyForJob" asp-area="" asp-controller="User" asp-route-jobId="@Model.Id">
                    <button class="btn btn-primary mt-1" name="button">Apply</button>
                </form>
            }
            @if (hasApplied)
            {
                <p></p>
                <div class="fw-bold">You have already applied for that job!</div>
                <a class="w-auto btn btn-primary mt-1" asp-area="" asp-controller="User" asp-action="MyApplications">Go to applications</a>
            }
            </div>
            <span class="d-flex fst-italic align-self-end">@Model.CreatedOn.ToString("dd/MM/yy HH:mm")</span>
        </div>
    </div>
</div>