@model JobDetailsViewModel


<div class="row">
    <div class="alert alert-info mb-3">
        <div class="text-lg fw-bold text-center">@Model.Title</div>
        <div class="fw-bold fst-italic">Description</div>
        <div>@Model.Description</div>
        <div class="fw-bold fst-italic">Requirements</div>
        <div>@Model.Requirements</div>
        <div class="fw-bold fst-italic">Salary</div>
        <div>@Model.Salary</div>
        <div class="fw-bold fst-italic">Employer info</div>
        <div>@Model.EmployerInfo.Name</div>
        <div>@Model.EmployerInfo.Email</div>
        <div>@Model.EmployerInfo.PhoneNumber</div>
        <div>@Model.EmployerInfo.CompanyName</div>
        <div>@Model.EmployerInfo.CompanyAddress</div>
        <form asp-action="ApplyForJob" asp-controller="ApplicationUser" asp-route-jobId="@Model.Id">
            <button class="btn btn-primary mt-1" name="button">Apply</button>
        </form>
    </div>
</div>